@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    outline: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: red;
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.conteiner {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}